<div class="fondo-pagina">
    <div class="container m-4 p-3 fondo-datos">
        <h1>Clientes</h1>
        <div class="alert alert-success" role="alert" *ngIf= "success">
            {{mensaje}}
          </div>
          <div class="alert alert-danger" role="alert" *ngIf= "error">
            {{mensaje}}
          </div>
        <div class="d-flex justify-content-end">
            <a routerLink="/clientes/nuevo">
                <button class="btn btn-primary">Nuevo cliente</button>
            </a>
        </div>
        <table class="table table-striped mt-5">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td>{{cliente.id}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.direccion}}</td>
                    <td>
                        <a [routerLink]="['/clientes/editar', cliente.id]">
                            <button class="btn btn-outline-primary">Modificar</button>
                        </a>
                        <button class="ms-2 btn btn-outline-danger" (click)= "abrirModalEliminar(cliente.id!)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="exampleModal" [ngStyle]="{'display': display}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmar eliminar</h5>
          <button type="button" class="btn-close" (click)="cerrarModal()"></button>
        </div>
        <div class="modal-body">
          ¿Estás seguro de que deseas eliminar el cliente con id {{clienteAEliminar}}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="eliminar(clienteAEliminar)">Aceptar</button>
        </div>
      </div>
    </div>
  </div>